@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #000000;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header__left {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-left__search {
  cursor: pointer;
}

.header-right__burgermenu {
  cursor: pointer;
}

.header-right__account {
  margin: 0 33px;
}

.promo {
  background: #f1e4e6;
}

.promo .promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 764px;
  background: url(../assets/img/main/promo-background.png) -215px bottom no-repeat;
}

.promo__h1 {
  font-weight: 900;
  font-size: 48px;
  text-transform: capitalize;
  line-height: 40px;
  margin-right: 100px;
  position: relative;
}

.promo__h1::before {
  content: "";
  position: absolute;
  left: -28px;
  bottom: 3px;
  display: block;
  width: 12px;
  height: 86px;
  background: #f16d7f;
}

.promo__span {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 39px;
}

.promo__span-color {
  color: #f16d7f;
}

.categories__wrap {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 360px 360px 360px;
      grid-template-columns: 360px 360px 360px;
  -ms-grid-rows: 260px 180px;
      grid-template-rows: 260px 180px;
  margin-top: 65px;
  margin-bottom: 96px;
}

.categories__card1 {
  background: url(../assets/img/main/categories-women.jpg);
}

.categories__card2 {
  background: url(../assets/img/main/categories-men.jpg);
}

.categories__card3 {
  background: url(../assets/img/main/categories-kids.jpg);
}

.categories__card4 {
  background: url(../assets/img/main/categories-accesories.jpg);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.categories__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories-wrap__h5 {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 20px;
  color: #ffffff;
}

.categories-wrap__h3 {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 29px;
  color: #f16d7f;
}

.product__wrap {
  text-align: center;
  margin-bottom: 95px;
}

.product__h2 {
  font-weight: 400;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 36px;
}

.product__text {
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #9f9f9f;
}

.product__grid-wrap {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (360px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 360px);
  margin: 48px 0;
}

.product__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px;
      grid-template-columns: 360px;
  -ms-grid-rows: 420px 1fr;
      grid-template-rows: 420px 1fr;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  background: #f8f8f8;
}

.product-card__img {
  cursor: pointer;
}

.product-card__name {
  text-decoration: none;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px;
      grid-template-columns: 360px;
  -ms-grid-rows: min-content 1fr min-content;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content;
  padding: 24px 0 20px;
}

.product-card__h5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 0 29px 0 17px;
}

.product-card__text {
  font-weight: 300;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #5d5d5d;
  padding: 12px 29px 18px 17px;
}

.product-card__text-options {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #f16d7f;
  padding: 0 29px 0 17px;
}

.product__button {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  line-height: 20px;
  color: #f16d7f;
  padding: 14px 39px;
  text-decoration: none;
  border: 1px solid #f16d7f;
}

.feature, .footer {
  background: #222224;
}

.feature__flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 103px 0;
}

.feature__item {
  max-width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-item__h4 {
  font-weight: 700;
  text-transform: none;
  font-size: 20px;
  color: #fbfbfb;
  padding: 25px 0 13px;
}

.feature-item__text {
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  line-height: 17px;
  color: #fbfbfb;
}

.subscribe {
  background: url(../assets/img/header-footer/footer-background.jpg) bottom no-repeat;
  background-size: cover;
}

.subscribe__wrap, .subscribe__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 130px;
}

.subscribe__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  text-align: center;
  padding: 0;
}

.subscribe-info__img {
  border-radius: 100%;
  margin-bottom: 30px;
}

.subscribe-info__h4 {
  font-weight: 400;
  text-transform: none;
  font-size: 20px;
  color: #222224;
}

.subscribe-info__h4-span {
  font-style: italic;
}

.subscribe__form-wrap {
  margin-right: 100px;
  margin-top: 35px;
  text-align: center;
}

.subscribe__h3 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 40px;
}

.subscribe__h4 {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.subscribe__input {
  padding: 16px 85px 16px 28px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}

.subscribe__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.67;
  color: #222224;
  line-height: 54px;
  letter-spacing: 0.35px;
  line-height: normal;
}

.subscribe__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.67;
  color: #222224;
  line-height: 54px;
  letter-spacing: 0.35px;
  line-height: normal;
}

.subscribe__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.67;
  color: #222224;
  line-height: 54px;
  letter-spacing: 0.35px;
  line-height: normal;
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.67;
  color: #222224;
  line-height: 54px;
  letter-spacing: 0.35px;
  line-height: normal;
}

.subscribe__button {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 16px 18px;
  background: #f16d7f;
  border-radius: 0 23px 23px 0;
  letter-spacing: 0.35px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__h5 {
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  color: #fbfbfb;
}

.footer__links {
  display: -ms-grid;
  display: grid;
  grid-gap: 7px;
  -ms-grid-columns: minmax(30px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  max-width: 50%;
  padding: 23px 0;
}

.footer-links__link {
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 15px;
  line-height: 32px;
  color: #000000;
  background: #ffffff;
}

.arrivals {
  background-color: #f8f3f4;
  padding: 60px 0;
}

.arrivals__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrivals__h3 {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #f16d7f;
}

.arrivals__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrivals-breadcrumbs__link {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #636363;
  text-decoration: none;
}

.arrivals-breadcrumbs__list::after {
  content: "/";
  margin: 0 5px;
}

.arrivals-breadcrumbs__list:last-of-type::after {
  content: "";
  margin: 0;
}

.arrivals .active__bc {
  color: #f16d7f;
}

.product-filter__details {
  display: none;
  position: relative;
  margin-bottom: 18px;
}

.product-filter__details::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
  z-index: 2;
}

.product-filter__details summary::-webkit-details-marker {
  display: none;
}

.product-filter__details > summary {
  list-style: none;
}

.product-filter__details summary:before {
  content: "\25BC";
  color: #ef5b70;
  top: 8px;
  left: 230px;
  position: absolute;
  font-size: 7px;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}

.product-filter__details[open] summary:before {
  content: "\25B2";
  font-size: 7px;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}

.product-details__summary {
  border-bottom: 1px solid #ebebeb;
  padding: 8px 0 8px 16px;
  width: 243px;
  outline: none;
  position: relative;
  cursor: pointer;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}
