// header
.header {
   background: $black;
   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 75px;
   }
   // left container
   &__left {
      width: 111px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }
   &-left__search {
      cursor: pointer;
   }
   // right container

   &-right__burgermenu {
      cursor: pointer;
   }
   &-right__account {
      margin: 0 33px;
   }
}
