// Transition for hovers
.trans {
   transition: all 0.1s linear;
}

// Media  $level_4
@media (min-width: $level_4) {
   // Hover for input
   .input-hover {
      &:hover {
         border: 1px solid $bittersweetlight;
         background: none;
         &::placeholder {
            color: $bittersweetlight;
         }
      }
      &:focus {
         border: 1px solid $bittersweet;
      }
   }
   // Hover for button ver.1
   .button-hover:hover {
      background: $bittersweet;
      color: $white;
      .button-icon {
         fill: $white;
      }
   }
   // Hover for button ver.2
   .button-hover2:hover {
      border: 1px solid $bittersweet;
      color: $bittersweet;
   }
   // Hover for button ver.3
   .button-hover3:hover {
      background: $white;
      color: $bittersweet;
   }
   // Hover for button ver.4
   .button-hover4:hover {
      border: 1px solid $bittersweet;
      .card-hover__text,
      .card-hover__img {
         color: $bittersweet;
         path {
            fill: $bittersweet;
         }
      }
   }
   // Hover for button ver.5
   .button-hover5:hover {
      color: $bittersweet;
      .product-filter__link-svg path {
         fill: $bittersweet;
      }
   }

   .menu-title-hover:hover {
      @include fontstyle(bold, text, upper);
   }

   // Hover for button close
   .close:hover {
      fill: $bittersweet;
   }

   // Hover for arrow color
   .arrow-hover:hover {
      i {
         color: $bittersweet;
      }
   }
   // Hover for link
   .link-hover:hover {
      color: $bittersweet;
   }
   // Hover for nav item
   .item:hover {
      path {
         fill: $bittersweet;
         stroke: $bittersweet;
      }
   }
   // Hover for card
   .shadow:hover {
      box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.3);
   }
   .filter-card:hover {
      .product-card__img {
         filter: brightness(0.4);
      }
      .card-hover {
         display: flex;
      }
   }
   // Hover for checkbox
   .checkbox-hover:hover {
      color: $bittersweet;
   }
}

// Media

@media all {
   // Media for Header
   .header {
      &-right {
         &__account,
         &__cart {
            @media (max-width: $level_6) {
               display: none;
            }
         }
         &__drop{
            @media (max-width: $level_4) {
               width: 100%;
               height: 100vh;
            }
         }
      }
   }

   // Media for Promo
   .promo {
      &__wrap {
         @media (max-width: $level_2) {
            min-height: 650px;
            background-position: -175px bottom;
            background-size: 671px;
         }
         @media (max-width: $level_3) {
            min-height: 600px;
            background-position: -120px bottom;
            background-size: 620px;
         }
         @media (max-width: $level_4) {
            min-height: 368px;
            background-position: left bottom;
            background-size: 382px;
         }
         @media (max-width: $level_5) {
            background: none;
            justify-content: center;
         }
      }
      &__h1 {
         @media (max-width: $level_3) {
            font-size: 44px;
            line-height: 30px;
            margin-right: 34px;
         }
         @media (max-width: $level_5) {
            margin-right: 0;
         }
         @media (max-width: $level_7) and (min-width: $level_8) {
            font-size: 38px;
         }
      }
      &__h1::before {
         @media (max-width: $level_3) {
            height: 88px;
            bottom: -4px;
         }
         @media (max-width: $level_5) {
            height: 82px;
         }
         @media (max-width: $level_7) and (min-width: $level_8) {
            height: 61px;
            top: 0;
         }
      }
      &__span {
         @media (max-width: $level_3) {
            font-size: 24px;
            line-height: 29px;
         }
         @media (max-width: $level_7) and (min-width: $level_8) {
            font-size: 20px;
            line-height: 24px;
         }
      }
   }

   // Media for categories
   .categories {
      &__wrap {
         @media (max-width: $level_1) {
            max-width: 820px;
         }
         @media (max-width: $level_3) {
            grid-template-rows: 200px 130px;
            gap: 18px;
         }
         @media (max-width: $level_4) {
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
            grid-template-rows: 167px 116px;
            margin-top: 20px;
            margin-bottom: 155px;
         }
         @media (max-width: $level_5) {
            display: flex;
            flex-direction: column;
         }
      }
      &__card {
         @media (max-width: $level_5) {
            height: 300px;
         }
         @media (max-width: $level_7) and (min-width: $level_8) {
            height: 250px;
         }
      }
      &__card4 {
         @media (max-width: $level_5) {
            height: 175px;
         }
         @media (max-width: $level_7) and (min-width: $level_8) {
            height: 110px;
         }
      }
   }

   // Media for product
   .product {
      &__wrap {
         @media (max-width: $level_3) {
            margin-bottom: 65px;
         }
      }
      &__grid-wrap {
         @media (max-width: $level_1) {
            justify-content: center;
         }
         @media (max-width: $level_4) {
            gap: 16px;
            margin: 72px auto 33px;
            justify-content: center;
         }
         @media (max-width: $level_7) and (min-width: $level_8) {
            grid-template-columns: repeat(auto-fit, 310px);
         }
      }
      &-card {
         &__img {
            @media (max-width: $level_7) and (min-width: $level_8) {
               width: 310px;
               height: auto;
            }
         }
         &__name {
            @media (max-width: $level_7) and (min-width: $level_8) {
               grid-template-columns: 310px;
            }
         }
      }
   }

   // Media for feature
   .feature {
      &__flex-wrap {
         @media (max-width: $level_3) {
            flex-direction: column;
            align-items: center;
            padding: 0 15px 64px;
         }
      }
      &__item {
         @media (max-width: $level_3) {
            max-width: 360px;
            margin-top: 48px;
         }
      }
   }

   // Footer

   // Media for subscribe
   .subscribe {
      &__wrap {
         @media (max-width: $level_2) {
            justify-content: space-around;
         }
         @media (max-width: $level_3) {
            flex-direction: column;
            align-items: center;
            padding: 53px 15px 140px;
         }
      }
      &__info {
         @media (max-width: $level_2) {
            width: 365px;
         }
         @media (max-width: $level_7) and (min-width: $level_8) {
            width: 320px;
         }
      }
      &__form-wrap {
         @media (max-width: $level_2) {
            margin-right: 0;
         }
         @media (max-width: $level_3) {
            margin-top: 48px;
         }
      }
      &__input {
         @media (max-width: $level_7) and (min-width: $level_8) {
            padding: 16px 28px 16px 28px;
         }
      }
   }
   // Footer_wrap
   .footer {
      &__wrap {
         @media (max-width: $level_6) {
            flex-direction: column-reverse;
            padding-bottom: 9px;
         }
      }
   }
}
