// Promo logo
.promo {
   background: #f1e4e6;
   .promo__wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 764px;
      background: url(../assets/img/main/promo-background.png) -215px bottom no-repeat;
   }
   &__h1 {
      @include fontstyle(bold, h1, cap);
      line-height: 40px;
      margin-right: 100px;
      position: relative;
   }
   &__h1::before {
      content: "";
      position: absolute;
      left: -28px;
      bottom: 3px;
      display: block;
      width: 12px;
      height: 86px;
      background: $bittersweet;
   }
 
   &__span {
      @include fontstyle(semibold, 0, cap);
      font-size: 32px;
      line-height: 39px;
      &-color {
         color: $bittersweet;
      }
   }
}

// Categories

.categories {
   &__wrap {
      display: grid;
      gap: 30px;
      grid-template-columns: 360px 360px 360px;
      grid-template-rows: 260px 180px;
      margin-top: 65px;
      margin-bottom: 96px;
   }
   &__card1 {
      background: url(../assets/img/main/categories-women.jpg);
   }
   &__card2 {
      background: url(../assets/img/main/categories-men.jpg);
   }
   &__card3 {
      background: url(../assets/img/main/categories-kids.jpg);
   }
   &__card4 {
      background: url(../assets/img/main/categories-accesories.jpg);
      grid-column: 1/4;
   }
   &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &-wrap__h5 {
      @include fontstyle(regular, h5, cap);
      line-height: 20px;
      color: $white;
   }
   &-wrap__h3 {
      @include fontstyle(semibold, h3, cap);
      line-height: 29px;
      color: $bittersweet;
   }
}

// Product
.product {
   &__wrap {
      text-align: center;
      margin-bottom: 95px;
   }

   // Title
   &__h2 {
      @include fontstyle(regular, h2, cap);
      line-height: 36px;
   }
   &__text {
      @include fontstyle(regular, text, none);
      line-height: 17px;
      color: $nobel;
   }
   // Container with cart
   &__grid-wrap {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fill, 360px);
      margin: 48px 0;
      z-index: 1;
   }
   &__card {
      display: grid;
      grid-template-columns: 360px;
      grid-template-rows: 420px 1fr;
      @include fontstyle(regular, h4, upper);
      background: #f8f8f8;
   }
   &-card__img {
      cursor: pointer;
   }
   &-card__name {
      text-decoration: none;
      text-align: left;
      display: grid;
      grid-template-columns: 360px;
      grid-template-rows: min-content 1fr min-content;
      padding: 24px 0 20px;
   }
   &-card__h5 {
      @include fontstyle(regular, 0, upper);
      font-size: 13px;
      line-height: 16px;
      color: $black;
      padding: 0 29px 0 17px;
   }
   &-card__text {
      @include fontstyle(light, text, none);
      line-height: 17px;
      color: $zambezi;
      padding: 12px 29px 18px 17px;
   }
   &-card__text-options {
      @include fontstyle(regular, 0, upper);
      font-size: 16px;
      line-height: 20px;
      color: $bittersweet;
      padding: 0 29px 0 17px;
   }

   // Botton
   &__button {
      display: inline-block;
      @include fontstyle(regular, h5, none);
      line-height: 20px;
      color: $bittersweet;
      padding: 14px 39px;
      text-decoration: none;
      border: 1px solid $bittersweet;
   }
}

// Feature
.feature {
   background: #222224;
   &__flex-wrap {
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 103px 0;
   }
   &__item {
      max-width: 28%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }
   &-item__h4 {
      @include fontstyle(semibold, 0, none);
      font-size: 20px;
      color: $snow;
      padding: 25px 0 13px;
   }
   &-item__text {
      @include fontstyle(regular, text, none);
      line-height: 17px;
      color: $snow;
   }
}

// Subscribe
.subscribe {
   background: url(../assets/img/header-footer/footer-background.jpg) bottom no-repeat;
   background-size: cover;
   &__wrap {
      display: flex;
      justify-content: space-between;
      padding: 100px 0 130px;
   }
   &__info {
      @extend .subscribe__wrap;
      flex-direction: column;
      align-items: center;
      width: 30%;
      text-align: center;
      padding: 0;
   }
   &-info {
      &__img {
         border-radius: 100%;
         margin-bottom: 30px;
      }
      &__h4 {
         @include fontstyle(regular, 0, none);
         font-size: 20px;
         color: #222224;
         &-span {
            font-style: italic;
         }
      }
   }
   &__form-wrap {
      margin-right: 100px;
      margin-top: 35px;
      text-align: center;
   }
   &__h3 {
      @include fontstyle(semibold, h3, upper);
      line-height: 40px;
   }
   &__h4 {
      @include fontstyle(regular, h4, upper);
   }
   &__form {
      display: flex;
      justify-content: center;
      margin-top: 32px;
   }
   &__input {
      padding: 16px 85px 16px 28px;
      border-radius: 23px 0 0 23px;
      background-color: #e1e1e1;
      border: 1px solid #e1e1e1;
      &::placeholder {
         @include fontstyle(regular, text, cap);
         opacity: 0.67;
         color: #222224;
         line-height: 54px;
         letter-spacing: 0.35px;
         line-height: normal;
      }
   }
   &__button {
      @include fontstyle(regular, text, cap);
      color: $white;
      padding: 16px 18px;
      background: $bittersweet;
      border-radius: 0 23px 23px 0;
      letter-spacing: 0.35px;
   }
}

// Footer
.footer {
   @extend .feature;
   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__h5 {
      @include fontstyle(regular, h5, none);
      color: $snow;
   }
   &__links {
      display: grid;
      grid-gap: 7px;
      -ms-grid-columns: (minmax(30px, 1fr)) [auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
      max-width: 50%;
      padding: 23px 0;
   }
   &-links__link {
      width: 32px;
      height: 32px;
      text-align: center;
      font-size: 15px;
      line-height: 32px;
      color: $black;
      background: $white;
   }
}
